<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conveyor_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,16}</string>
                <key>spriteSourceSize</key>
                <string>{96,16}</string>
                <key>textureRect</key>
                <string>{{1,310},{96,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conveyor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,16}</string>
                <key>spriteSourceSize</key>
                <string>{96,16}</string>
                <key>textureRect</key>
                <string>{{1,328},{96,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conveyor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,16}</string>
                <key>spriteSourceSize</key>
                <string>{96,16}</string>
                <key>textureRect</key>
                <string>{{1,346},{96,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conveyor_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,16}</string>
                <key>spriteSourceSize</key>
                <string>{96,16}</string>
                <key>textureRect</key>
                <string>{{1,364},{96,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fake_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fake_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1,39},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fake_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1,77},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fake_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1,115},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fake_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1,153},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fake_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1,191},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nails.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,31}</string>
                <key>spriteSourceSize</key>
                <string>{96,31}</string>
                <key>textureRect</key>
                <string>{{1,229},{96,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,16}</string>
                <key>spriteSourceSize</key>
                <string>{96,16}</string>
                <key>textureRect</key>
                <string>{{1,382},{96,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trampoline_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{99,1},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trampoline_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{99,99},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trampoline_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{99,197},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trampoline_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{1,262},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trampoline_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{1,286},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trampoline_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{99,295},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>platform.png</string>
            <key>size</key>
            <string>{122,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ede668a5f80ce7cbe30b088150b3e8e:4e82579fb295c332c2e6dcbc8b80dcc7:03d58eed1d6d41ad467d31044ca89348$</string>
            <key>textureFileName</key>
            <string>platform.png</string>
        </dict>
    </dict>
</plist>
